name: Update Colab Status

on:
  schedule:
    - cron: '0 * * * *' # Запускать каждый час
  workflow_dispatch: # Возможность запустить вручную кнопку

permissions:
  contents: write

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run check script
        run: python scripts/check_links.py

      - name: Commit and push if changed
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add colab-status.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update Colab status [skip ci]" && git push)